<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEquipos" />
                <binding name="BasicHttpBinding_IColaboradores" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6052/Equipos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEquipos" contract="EquiposWS.IEquipos"
                name="BasicHttpBinding_IEquipos" />
            <endpoint address="http://localhost:6052/Colaboradores.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IColaboradores" contract="ColaboradorService.IColaboradores"
                name="BasicHttpBinding_IColaboradores" />
        </client>
    </system.serviceModel>
</configuration>